.accordionBtn {
  background: rgba(255, 0, 0, 0.3);
  width: 100%;
  padding: 8px 16px;
  font-size: 12px;
  border: none;
  outline: none;
  text-align: left;
  margin-bottom: 8px;
}

.accordionBtn:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.panel {
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: height 1s ease-out;
}
.active,
.accordionBtn:hover {
  background: rgba(255, 0, 0, 0.5);
}
