
.bar {
  display: flex;
  background-color: #555;

  a{
    color: white;
    font-size: 36px;
    padding: 16px;
    text-align: center;
    flex:1;
    &:hover{
      background: red;
    }
  }
  
  .active {
    background: lightblue
  }
}



.vertical-bar{
  width: 90px;
  flex-direction: column;

}

.horizontal-bar{
  width: 100%;


}