

.slides-container{
  display: flex;
  overflow: hidden;
  width: 100%;

  .slide{
    width: 100%;
    display: none;

    img {
      width: 100vw;
    }
  }
}

.dot-wrap{
  width: 100%;
  text-align: center;
  .dot {
    display: inline-block;
    background: red;
    width: 15px;
    height:15px;
    cursor: pointer;
  }
}